* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: goldenrod;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: sienna;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: peru;
  color: sienna;
}

/* Style the content */
.content {
  background-color: maroon;
  color: olive;
  padding: 10px;
  height: 400px; 
  margin-top: 40px; /* Should be removed. Only for demonstration */
}

.content2 {
  background-color: seagreen;
  color: darkslategrey;
  padding: 10px;
   height: 300px; /* Should be removed. Only for demonstration */
}

.content3 {
  background-color: teal;
  color: midnightblue;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: purple;
  color: magenta;
  padding: 10px;
}

.contact {
  text-align: center;
}

.left {
  float: left;
  width: 50%;
  padding: 10px;

}

.right {
  float: right;
  width: 50%;
  padding: 10px;

}

.lion_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

.my_name {
  color: olive;
  margin-top: 50px
}

.welcome {
  color: darkslategrey;
  margin-top: 40px;
}


