* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: goldenrod;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: sienna;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: peru;
  color: sienna;
}

/* Style the content */
.content {
  background-color: maroon;
  color: olive;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

.content2 {
  background-color: seagreen;
  color: darkslategrey;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

.content3 {
  background-color: teal;
  color: midnightblue;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: purple;
  color: magenta;
  padding: 10px;
}